.addComment{
    padding: 10px;
    display: flex;
    border-top: 1px solid gray;
    padding-top: 20px;
    /* width: 100%; */
}


.commentInput{
    background-color: var(--background-clr);
    border-radius: 40px;
    padding: 5px;
    height: 40px;
    display: flex;

    width: 100%;
}

.commentInput input{
    background-color: var(--background-clr);
    margin-left: 10px;
    border: none;
    border-radius: 40px;
    width: 100%;
}

.commentInput input:focus{
    outline: none;
}

.commentInput button{
    margin: 5px;
}

.btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: var(--main-clr);
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

.btn:hover {
    color: #ffffff;
    background-color: var(--main-clr);
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}

.file-input{
    cursor: pointer;
    height: 100%;
    display: flex;
    
}

.file-input img{
    width: 20px;
}

.sendBtn{
    background: none;
    border: none;
    cursor: pointer;
}

.sendBtn img{
    width: 20px;
}