.comment{
    background-color: rgb(220, 220, 220);

    /* width:100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
}

.comentText{
    font-size: 14px;
}

.test{
    display: fixed;
}