.createPostContainer{
    margin: 0;
    padding: 10px;
    background-color: var(--card-clr);
    width: 500px;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 550px) {
    .createPostContainer{
        width: 70%;
    }
}  