.feed_account{
    display: flex;
    justify-self: start;
    width: 100%;
}

.feed_account .feed_accountDetails{
    margin: 0;
}

.feed_account img{
    border-radius: 50%;
    width: 44px;
    height: 44px;
    object-fit: cover;
}

.feed_account .feed_name{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.feed_account .feed_date{
    margin: 0;
    padding-left: 20px;
    font-size: 14px;
}