:root{
  --background-clr: #F1E5FF;
  --main-clr: #7703FC;
  --card-clr: white;
  --text-clr: black;
  --text-textarea-clr: gray;

  --left-menu-width: 20%;
  --online-friends-width: 20%;
  --top-bar-height: 50px;



  --default-font-size: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-clr);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 1200px) {
  :root{
    --left-menu-width: 5%;
  }
}

@media only screen and (max-width: 1070px) {
  :root{
    --left-menu-width: 10%;
  }
}