:root{
    --card-clr: white;
}

.b{
    margin: 10px;
}

.onlineFriends{
    width: 70%;
    background-color: var(--card-clr);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 5px 5px lightgray;
}


.feed{
    min-width: 700px;
    /* margin: 10px; */
}

.card{
    background-color: var(--card-clr);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 5px lightgray;
    border: none;
    padding: 20px;
    margin: 20px;

}

.topCard{
    /* display: flex;
    flex-wrap: wrap; */
    /* flex-direction: row; */
}

.options{
    /* justify-content: end; */
}

.bottomCard{
    margin-top: 20px;
    border-top: 1px solid gray;
    padding: 0;
}

.ytplayer{
    width: 480px;
    height: 360px;
}

.postBody img{
    width: 80%;
}






.bottomCard{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-items: center;
}

.likes{
    display: flex;
}

.likes img{
    padding: 10px;
}

.comments{
    display: flex;
}

.comments img{
    padding: 10px;
}

.shares{
    display: flex;
}

.shares img{
    padding: 10px;
}








.account{
    display: flex;
    justify-self: start;
}

.account .accountDetails{
    margin: 0;
}

.account img{
    border-radius: 50%;
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.account .name{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.account .date{
    margin: 0;
    padding-left: 20px;
}

.topCard{

}


























.a{
    height: 100px;
    background-color: blue;
    width: 100%;
}

.b{
    /* height: 100px; */
    background-color: blue;
    width: 100%;
}

.b{
    display: flex;
    justify-content: end;
    background-color: transparent;
}



.burger{
    display: none;
}

.burger img{
    width: 50px;
    height: 50px;
}



@media screen and (max-width: 1500px) {
    .onlineFriends{
        width: 250px;
    }
}

@media screen and (max-width: 1400px) {
    .feed{
        min-width: 600px;
    }
    
    .statusInput{
        max-width: 600px;

    }

    .onlineFriends .account{
        /* color: red; */

        font-size: 12px;
    }

    .onlineFriends .account .name{
        /* color: red; */

        font-size: 14px;
    }

    .onlineFriends .account img{
        /* color: red; */

        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 1200px) {
    .onlineFriends{
        width: 200px;
    }

    .feed{
        min-width: 500px;
    }

    .statusInput{
        max-width: 500px;

    }
}

@media screen and (max-width: 1000px) {
    .a{
        width: 150px;
    }

    .b{
        width: 150px;
        margin: 0;
        justify-content: center;
    }

    .feed{
        width: 100%;
    }

    .statusInput{
        min-width: 100%;
    }

    .onlineFriends .burger{
        display:block;
    }

    .panel{
        display: none;
    }

    .onlineFriends{
        justify-self: center;
        height: 50px;
        width: 50px;
        padding: 5px;
        margin-top: 20px;
    }
}







/* .mid{
    display: wrap;
    flex-direction: column;
    flex-wrap: wrap;
} */

.status{
    margin: 20px;
}

.statusInput{
    display: flex;
    justify-content: center;
    color: gray;
    background-color: var(--card-clr);
    width: 700px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 2px 5px 5px lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--background-clr);
    /* padding-top: 20px;
    padding-bottom: 20px; */
    width: 70%;
}










.leftPannerAccount{
    padding: 10px;
}