.mc_container{
  margin: 7px; /* Updated */
  margin-top: 60px;
  padding: 20px; /* Updated */
  background-color: white; /* Updated */
  border-radius: 15px; /* Updated */
  flex-grow: 1; /* Updated */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Updated */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}



.mc_content {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: flex-start;
  margin-top: 20px;
}

.mc_box {
  background-color: #F0F0F0;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  opacity: 1;
  transition: opacity 0.5s ease-out, transform 0.3s ease-out;
}
.mc_remove {
opacity: 0;
transform: scale(0.9);
transition: opacity 0.5s ease-out, transform 0.3s ease-out;

}
.mc_photo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 50%;
}

.mc_name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Viga';
}

.mc_buttons {
  position: absolute;
  top: 11%;
  right: 0;
  left: 5%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.mc_button {
margin-left: 10px;
background-color: transparent;
border: transparent;
color: #7C3AED;
font-size: 18px;
font-weight: 500;
font-family: 'Viga';
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
position: relative;
}

.mc_button.active {
background-color: white;
color: black;
}

.mc_button::before { /* Added */
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
 
} 

.mc_button:last-child::before { /* Added */
  border-right: none;
}

.mc_button:hover {
  background-color: #7C3AED;
  color: white;
}

.mc_add_friend_button {
  background-color: #7C3AED; 
  display: flex;
  left: 43%;
  justify-content: flex-start;
  border: transparent;
  position:relative;
  font-family: 'Montserrat';
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.mc_add_friend_button:hover {
  background-color: magenta; 
}    
.mc_request{
left:40%;
background-color: magenta; 
}
.mc_request_buttons{
position: fixed;
display: flex;
transform: translateX(70%);

}
.mc_add_friend_button2 {
  
  background-color: #7C3AED; 
  display: flex;
  left: 10%;
  margin-right: 30px;
  right: 5%;
  justify-content: flex-start;
  border: transparent;
  
  font-family: 'Montserrat';
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.mc_add_friend_button2:hover {
  background-color: magenta; 
} 
 
.green-dot, .red-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 20px;
}

.green-dot {
  background-color: green;
}

.red-dot {
  background-color: red;
}