<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Test document retrieval</title>

    <style>
        img {
            width: 50%;
        }
    </style>

</head>
<body>
<script>
    window.onload = main;

    function getElement(content, image) {
        const container = document.createElement('div');
        const contentElement = document.createElement('p');
        const imageElement = document.createElement('img');

        container.appendChild(contentElement);
        container.appendChild(imageElement);

        contentElement.textContent = content;
        imageElement.src = 'data:image/png;base64,' + image;

        return container;
    }

    async function main() {
        const params = new URLSearchParams(location.search);

        const count = params.get('count');
        const cursor = params.get('cursor');

        const url = `http://localhost:8084/posts/recommended?count=${count}&cursor=${cursor}`;

        const response = await fetch(url, {method: 'POST'});
        const data = await response.json();

        for (const post of data) {
            const container = getElement(post['content'], post['image']);

            document.body.appendChild(container);
        }
    }
</script>
</body>
</html>
