<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Suggestions</title>

    <style>
        img {
            width: 50%;
        }
    </style>

</head>
<body>
<script>
    window.onload = main;

    function getElement(firstName, lastName) {
        const container = document.createElement('div');
        const contentElement = document.createElement('p');

        container.appendChild(contentElement);
        contentElement.textContent = firstName;
        contentElement.textContent += ' ';
        contentElement.textContent += lastName;
        return container;
    }

    async function main() {
        const params = new URLSearchParams(location.search);

        const count = params.get('count');
        const cursor = params.get('cursor');

        const url = `http://localhost:8084/suggestions?count=${count}`;

        const response = await fetch(url, {method: 'POST'});
        const data = await response.json();

        for (const suggestion of data) {
            const container = getElement(suggestion['firstName'], suggestion['lastName']);
            document.body.appendChild(container);
        }
    }
</script>
</body>
</html>
