<!DOCTYPE html>
<html>
<head>
    <title>Update Post</title>
</head>
<body>
<h1>Update Post</h1>

<form id="updateForm">
    <label for="content">Content:</label>
    <input id="content" name="content" type="text"><br><br>

    <label for="adLocation">Location:</label>
    <input id="adLocation" name="adLocation" type="text"><br><br>

    <label for="adStatus">Status:</label>
    <input id="adStatus" name="adStatus" type="text"><br><br>

    <input type="submit" value="Update Post">
</form>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');

    document.getElementById("updateForm").addEventListener("submit", function (event) {
        event.preventDefault();

        var form = event.target;
        var content = form.elements['content'].value;
        var adLocation = form.elements['adLocation'].value;
        var adStatus = form.elements['adStatus'].value;

        // Create a data object to send in the request
        var data = {
            id: id,
            content: content,
            adLocation: adLocation,
            adStatus: adStatus
        };

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/post/update?id=" + id);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function () {
            if (xhr.status === 200) {
                alert("Post updated successfully!");
                window.location.href = "/post?id=" + id;
            } else {
                alert("Failed to update post. Please try again.");
                window.location.href = '/posts/recommended?count=10&cursor=0';
            }
        };
        xhr.send(JSON.stringify(data));
    });

</script>
</body>
</html>
