    .container{
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      background-color: #F1E5FF;
      display: flex;
      flex-direction: row;
        
    }

    .container2{
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      background-color: #F1E5FF;
      display: flex;
      flex-direction: column;
        
    }

    .search{
      background-color: rgb(255, 255, 255);
      padding: 10px;
      display: flex;
      height: 7%;
      margin:7px;
      border-radius: 8px;
    }

    .search_box{
      width:60%;
      background-color: hsla(274, 73%, 55%, 0.19);
      border-radius: 15px;
      height: 90%;
      margin:auto 0;
      display: flex;
        align-items: center;
        position: relative;
    }
    .search_box_activ{
      width:60%;
      background-color: hsla(274, 73%, 55%, 0.19);
      border-radius: 15px 15px 0 0;
      height: 90%;
      margin:auto 0;
      display: flex;
        align-items: center;
        position: relative;
    }
    .search_box_input{
      width:100%;
      background-color: transparent;
      border-radius: 15px;
      height: 90%;
      margin:auto 0;
      display: flex;
        align-items: center;
        outline: none;
        border: none;
        margin-left: 5px;
        font-size: large;
        font-family: 'Montserrat';

    }
    .search_box img {
      margin-left: 10px;
    }
    .search_box_activ img {
      margin-left: 10px;
    }
    .friend-list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
     border-radius: 15px;
      border-top: none;
      color: black;
      list-style-type: none;
      padding: 0;
      margin: 0;
      z-index: 1;
    }
    
    .friend-list li {
      padding: 10px;
      border-top: 1px solid #ccc;
    }
    ul.friend-list li.first-friend{
  border-top: none;
}
    .right_icons {
      margin-right: 0;
      margin-left: auto;
    }

    .right_icons img {
      padding: 10px;
    }

