
.smenu{
  background-color: white;
  width: 5%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1{
  font-family: 'Viga';
  margin:0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30%;
}
.sgrid_wrapper{
  display: flex;
  justify-content: center;
}
.sgrid_container{
  display: grid;
  grid-template-rows: repeat(4,1fr);
  gap: 20px;
  height: auto;
 margin: 0 auto;
 margin-top: 70%;
}

.sgrid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}



