.feed_card{
    background-color: var(--card-clr);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 5px lightgray;
    border: none;
    padding: 20px;
    margin: 20px;

}

.feed_bottomCard{
    margin-top: 20px;
    border-top: 1px solid gray;
    padding: 0;
}

.feed_bottomCard{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-items: center;
}

.feed_postBody .feed_media{
    display: flex;
    justify-content: center;
}



.feed_postBody img{
    width: 40%;
}

.feed_likes{
    display: flex;
}

.feed_likes img{
    padding: 10px;
}

.feed_comments{
    display: flex;
}

.feed_comments img{
    padding: 10px;
}

.feed_shares{
    display: flex;
}

.feed_shares img{
    padding: 10px;
}




























.feed_commentsBtn{
    border: none;
    cursor: pointer;
    background: none;
}
    
.feed_commentsBtn img{
    width: 20px;
}





























.feed_likeBtn{
    display: flex;
}

.feed_likeBtn p{
    padding-top: 18px;
    padding-left: 10px;
    margin: 0;
}

.feed_likeBtn button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 20px;
    /* height: 20px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.feed_like{
    background-image: url('../../icons/homepageIcons/like.svg');
}

.feed_like-clicked{
    background-image: url('../../icons/homepageIcons/like-clicked.svg');
}









