.feed_status{
    margin: 20px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

}

.feed_statusInput{
    display: flex;
    justify-content: center;
    color: gray;
    background-color: var(--card-clr);
    width: 700px;
    margin: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.feed_input{
    justify-content: center;
    width: 97%;
    text-align: center;
    font-weight: 300;
    font-size: medium;
    
    background-color: var(--background-clr);
    border-radius: 10px;
    border: none;
    height: 40px;
}

.feed_statusInput input:focus{
    outline: none;
}

@media screen and (max-width: 1400px) {
    .feed_statusInput{
        max-width: 600px;
    }
}

@media screen and (max-width: 1270px) {
    .feed_statusInput{
        max-width: 550px;

    }
}

@media screen and (max-width: 1075px) {
    .feed_statusInput{
        width: 100%;
    }
}

/* @media screen and (max-width: 560px) {
    .statusInput{
        width: 70%;
    }
} */