@import url(https://fonts.googleapis.com/css?family=Viga);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    box-sizing: border-box;
    font-family:"Montserrat";
    background-color: rgb(241,229,255);
}

.Title{
    font-family:"Viga" ;
    font-size: 350%;
    background-color: white;
}

.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(85deg, #2c80b8, #8e44ad);
}

.cover{
    background-color: white;
    width: 30em;
    height: 23em;
    position: relative;
    border-radius: 2em;
    box-shadow: 0 0.188em 1.550em rgb(236,204,239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input{
    border: none;
    background-color:  rgb(236,204,239);
    height: 4em;
    width: 70%;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}

input:focus{
    outline-color: rgb(119,3,252);
}

.change-btn{
    width: 30%;
    height: 3em;
    background-color: rgb(119,3,252);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.change-btn:hover{transform: scale(1.1);}

.text{
    position: relative;
    bottom: -2em;
}