@import url(https://fonts.googleapis.com/css?family=Viga);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* inaltimea containerului */
  background-color: rgb(241, 229, 255);
}

.container > div {
   margin: 5px; 
}

.left {
  position: fixed;
  flex: 1;
  height: 100vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgray;
  padding: 20px;
  font-family:"Viga" ;
  font-size: 150%;
  background-color: white;
}

.right {
  /* margin-top: 0px; */
  flex-direction: column;
  flex: 9;
  width: 100%;
  height: 100%;
  margin-left: 11em;
  }

.search-bar{
  position: fixed;
  background-color: white;
  flex: 1;
  width: 100%;
  height: 6%;
  margin-left: 11em;
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgray;
}

input{
  position: absolute;
  width: 40em;
  height: 2em;
}

.content{
 margin-top: 3em;
  flex: 9;
  width: 100%; 
}

.upper{
  height: 10em;
  background-color: brown;
  margin-bottom: 1em;
}

.bottom{
  display: flex;
  height: 25em;
  flex-direction: row;
  /* background-color: black; */
}

.bottom .left-content{
  width: 25%;
  margin-right: .5em;
  background-color: var(--card-clr);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 5px 5px lightgray;
  border: none;
  padding: 20px;
}


.bottom .right-content{
  width: 75%;
  /* background-color: blue; */
}