@import url(https://fonts.googleapis.com/css?family=Viga);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";

}
body
{
    background: linear-gradient(85deg, #2c80b8, #8e44ad);
}

.Title {
    font-family: "Viga";
    font-size: 350%;
    background-color: white;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: white;
    width: 50em;
    height: 32em;
    position: relative;
    border-radius: 2em;
    box-shadow: 0 0.188em 1.550em rgb(236, 204, 239);
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

.input-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 15px;
    height: 90%;
    width: 45%;
    padding: 1em;
}

input {
    border: none;
    background-color: rgb(236, 204, 239);
    height: 3em;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    text-align: left;
}

input:focus {
    outline-color: rgb(119, 3, 252);
}

.birthday{
    background-color: white;
    color: #C3C3C3;
    font-weight: bold;
}

.dropdown-container{
    background-color: white;
}

.dropdown{
    border-radius: 1em;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 45px;
    margin-bottom: 7.5px;
}

.dropdown2{
    border-radius: 1em;
}

.check-container {
    background-color: white;
    display: flex;
    align-items: center;    
    margin-bottom: 130px;
}

label {
    background-color: white;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 0.5em;
}

.change-btn {
    width: 50%;
    height: 3em;
    background-color: rgb(119, 3, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    font-weight: bold;
    align-self: center;
    margin-top: 1em;
}

.change-btn:hover {
    transform: scale(1.1);
    padding-right: 25px;
    padding-left: 25px;
    animation: animatedBackground 5s linear infinite alternate;
    background-image: url("https://t4.ftcdn.net/jpg/04/31/82/57/360_F_431825797_gbFmyO0sBt29VljKwxyYxDjcV5oJCHzi.jpg");}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}


.text {
    margin-top: 5px;
    position: relative;
    bottom: -2em;
}

.name1 {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #C3C3C3;
    background-color: white;
    margin-top: -0.4em;
    margin-bottom: 5px;
}

.text {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #C3C3C3;
    background-color: white;
    margin-top: -1em;
    text-align: center;
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 101px;
    margin-bottom: -0.5em;
    color: #000000;
}
  .name2 {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #C3C3C3;
    background-color: white;
    margin-top: 180px;
    text-align: center;
    z-index: 1;
  }
  .name2, .name2 a {
    background-color: white;
  }